<!-- {% from 'bootstrap/nav.html' import render_nav_item %} -->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/xtime_favicon.ico') }}">
        <!-- description : Define a description of your web page -->
        <meta name="description" content="Welcome to Xtime!">
        <meta name="author" content="Franktjp">

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.0.0-dist/css/bootstrap.min.css') }}"
              type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css') }}" type="text/css">

        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap-4.0.0-dist/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/toastr.js') }}"></script>

    {% endblock head %}
</head>

<body>
{% block nav %}
    <!-- header部分(导航栏) -->
    <div class="container-fluid header" style="z-index: 5;">
        <!-- 参考：[透明粘性导航栏](https://bootsnipp.com/snippets/kl8Q3) -->
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                Xtime
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{{ url_for('main.index') }}">首页</a></li>
                    <li><a href="#">电影</a></li>
                    <li><a href="#">影评</a></li>
                    <li><a href="#">榜单</a></li>
                    <li><a href="#">社区</a></li>
                    <li>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="搜索电影、影人、文章">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li>
                            <div class="dropdown show">
                                <a class="dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    你好,{{ current_user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item"
                                       href="{{ url_for('user.profile', username=current_user.username) }}">个人中心</a>
                                    <a class="dropdown-item" href="{{ url_for('user.edit_profile') }}">设置</a>
                                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">登出</a>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
{% endblock nav %}


<div class="container flash">
    {% for message in get_flashed_messages(with_categories=True) %}
        <script type="text/javascript">
            // 注：message[0]和message[1]不能在js中直接使用，先用变量存储为string类型
            var message = ['{{ message[0] }}', '{{ message[1] }}'];
            // 调用toastr方法
            toastr[message[0]](message[1]);
        </script>
    {% endfor %}
</div>

{% block content %}
{% endblock content %}

{% block footer %}
    <!-- footer部分 -->
    <div class="container-fluid footer">
        <!-- footer上半部分 -->
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Xtime</h5>
                    <!--headin5_amrc-->
                    <!-- 网站描述信息 -->
                    <p class="mb10">一个交互式影评系统，为广大电影爱好者和专业影评撰写者提供一个获取影片
                        信息与高质量影评 、撰写影评与阅读影 评的非盈利交流分享平台，具有高度的人性化、
                        个性化、专业化、专题化和小众化。</p>
                    <!-- 地址 -->
                    <!-- <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p> -->
                    <!-- 电话(.fa-phone应该不是字体图标，因为是以类的形式指明) -->
                    <p><i class="fa fa-phone"></i>电话: 86-19946255605 </p>
                    <!-- 邮箱 -->
                    <p><i class="fa fa fa-envelope"></i>QQ: 1115303890@qq.com </p>
                </div>

                <!-- 推荐 -->
                <div class=" col-sm-4 col-md col-6 col" style="margin-left: 196px;">
                    <h5 class="headin5_amrc col_white_amrc pt2">推荐</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="#">时光策划</a></li>
                        <li><a href="#">新片预告</a></li>
                        <li><a href="#">全球拾取</a></li>
                        <li><a href="#">卡片大富翁</a></li>
                        <li><a href="#">时光对话</a></li>
                        <!-- <li><a href="#"></a></li> -->
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>

                <!-- 关注我们 -->
                <div class=" col-sm-4 col-md  col-6 col">
                    <!-- Mtime此处的设计是一个链接，放的是图标而不是文字 -->
                    <h5 class="headin5_amrc col_white_amrc pt2">关注我们</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><a href="#">新浪微博</a></li>
                        <li><a href="#">微信公众号</a></li>
                        <li><a href="#">今日头条</a></li>
                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>
            </div>
        </div>
        <!-- footer下半部分 -->
        <div class="container">
            <ul class="foote_bottom_ul_amrc">
                <li><a href="{{ url_for('main.index') }}">首页</a></li>
                <li><a href="#">电影</a></li>
                <li><a href="#">影评</a></li>
                <li><a href="#">榜单</a></li>
                <li><a href="#">社区</a></li>
                <li><a href="#">登录</a></li>
            </ul>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="text-center">Copyright @2021 | Designed by <a href="{{ url_for('main.index') }}">Xtime</a></p>

            <ul class="social_footer_ul">
                <!-- 注：字体图标需要先从外部引入 -->
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
    </div>
{% endblock footer %}




{% block scripts %}
    <!-- 引入tether.min.js，否则chrome控制台报错(虽然不知道该文件啥用) -->
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    {#    <script type="text/javascript"#}
    {#            src="{{ url_for('static', filename='bootstrap-4.0.0-dist/js/jquery.min.js') }}"></script>#}
    <script type="text/javascript"
            src="{{ url_for('static', filename='bootstrap-4.0.0-dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='bootstrap-4.0.0-dist/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
    {#    <script type="text/javascript" src="{{ url_for('static', filename='js/toastr.js') }}"></script>#}
{% endblock %}
</body>

</html>
