<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Xtime时光网：让电影遇见生活</title>

    <!-- description : Define a description of your web page -->
    <meta name="description" content="The listindex of Xtime Website!">
    <meta name="author" content="Franktjp">

    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <!-- header部分 -->
    <div class="container-fluid header">
    </div>

    <!-- main部分 -->
    <div class="container main">
        <!-- 影评标题+影片信息 -->
        <div class="row">
            <div class="col-md-12">

                <!-- <div class="page-header">
                    <h1>
                        LayoutIt！<small>Bootstrap的</small>界面<small>生成器</small>
                    </h1>
                </div> -->
            </div>
        </div>

        <!-- 影评内容/评论(left)+作者信息/其他影评(right) -->
        <div class="row">
            <div class="col-md-12">
                <!-- 影评内容/评论(left) -->
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>

                <!-- 作者信息/其他影评(right) -->
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <!-- footer部分 -->
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</body>