<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Xtime时光网：让电影遇见生活</title>

	<!-- description : Define a description of your web page -->
	<meta name="description" content="The index of Xtime Website!">
	<meta name="author" content="Franktjp">

	<!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
	<link href="../../static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link href="../../static/css/index.css" rel="stylesheet"> -->
	<link href="../../static/css/base.css" rel="stylesheet">

</head>

<body>
	<!-- header部分(导航栏) -->
	<div class="container-fluid header" style="z-index: 5;">
		<!-- 参考：[透明粘性导航栏](https://bootsnipp.com/snippets/kl8Q3) -->
		<nav>
			<div class="menu-icon">
				<i class="fa fa-bars fa-2x"></i>
			</div>
			<div class="logo">
				Xtime
			</div>
			<div class="menu">
				<ul>
					<li><a href="{{ url_for('main.index') }}">首页</a></li>
					<li><a href="#">电影</a></li>
					<li><a href="#">影评</a></li>
					<li><a href="#">榜单</a></li>
					<li><a href="#">社区</a></li>
					<li>
						<form class="form-inline my-2 my-lg-0">
							<input class="form-control mr-sm-2" type="text" placeholder="Search">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						</form>
					</li>
					{% if current_user.is_authenticated %}
					<li>
						<div class="dropdown show">
							<a class="dropdown-toggle" href="https://example.com" id="dropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								你好,{{ current_user.username}}
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item" href="{{ url_for('user.profile') }}">个人中心</a>
								<a class="dropdown-item" href="{{ url_for('auth.logout') }}">登出</a>
							</div>
						</div>
					</li>
					{% else %}
					<li><a href="{{ url_for('auth.login') }}">登录</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</div>
</body>