{% extends 'base.html' %}

{% block title %}Xtime时光网：让电影遇见生活{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<style>
    /* 设置header高度和z-index  */
    .header {
        z-index: 5;
        height: 300px;
    }
</style>
{% endblock %}

{% block content %}
<!-- main部分(个人名片) -->
<div class="container emp-profile">
    <form method="post">
        {{ form.csrf_token() }}
        <div class="row">
            <!-- 头像 -->
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="http://pic.616pic.com/ys_bnew_img/00/17/38/ez89bTi1r3.jpg" alt="" />
                    <div class="file btn btn-lg btn-primary">
                        修改图片
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <!-- 个人名片上部分 -->
            <div class="col-md-6">
                <div class="profile-head">
                    <h5> {{ current_user.username }} </h5>
                    <h6>个性签名： {{ current_user.signature }} </h6>
                    <!-- 为了好看 -->
                    <p class="proile-rating"></p>
                    <!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> -->
                    <!-- 两个下拉框 -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="home" aria-selected="true">关于我</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="profile" aria-selected="false">我的影评</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 编辑个人资料submit按钮 -->
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="编辑个人资料" />
            </div>
        </div>

        <div class="row">
            <!-- 左边部分，还没想好怎么改 -->
            <div class="col-md-4">
                <div class="profile-work">
                    <p>FEATURES</p>
                    <a href="{{ url_for('user.change_avatar') }}">修改头像</a><br />
                    <a href="">Website Link</a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br />
                    <a href="">Web Developer</a><br />
                    <a href="">WordPress</a><br />
                    <a href="">WooCommerce</a><br />
                    <a href="">PHP, .Net</a><br />
                </div>
            </div>
            <!-- 右边部分(关于我/我的影评) -->
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <!-- home -->
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                        </div>
                    </div>
                    <!-- profile -->
                    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <!-- 用户名 -->
                        <div class="row">
                            <div class="col-md-6"> <label>用户名</label> </div>
                            <div class="col-md-6">
                                <p>{{ current_user.username }}</p>
                            </div>
                        </div>
                        <!-- 姓名 -->
                        <div class="row">
                            <div class="col-md-6"> <label>姓名</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ current_user.name }}</p>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ current_user.email }}</p>
                            </div>
                        </div>
                        <!-- 电话 -->
                        <div class="row">
                            <div class="col-md-6">
                                <label>电话</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ current_user.phone }}</p>
                            </div>
                        </div>
                        <!-- 性别 -->
                        <div class="row">
                            <div class="col-md-6">
                                <label>性别</label>
                            </div>
                            <div class="col-md-6">
                                {% if current_user.gender == 1 %}
                                <p>男</p>
                                {% elif current_user.gender == 2 %}
                                <p>女</p>
                                {% else %}
                                <p>不男不女</p>
                                {% endif %}
                            </div>
                        </div>
                        <!-- 年龄 -->
                        <div class="row">
                            <div class="col-md-6">
                                <label>年龄</label>
                            </div>
                            <div class="col-md-6">
                                <p>199</p>
                            </div>
                        </div>
                        <!-- 个人介绍 -->
                        <div class="row">
                            <div class="col-md-12">
                                <label>个人介绍：</label>
                                <p>{{ current_user.introduction }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}