/*
    以下应该与index.html中影线热映部分的影片缩略图的宏movieList有关，
    所有的宏均定义在macros.html文件中
*/
.movie-card {
    /*width: 172px;*/
    width: 170px;
    border: 0;
    /*在原本元素上再加一个transition*/
    /*参考: [CSS3实现伪类hover离开时平滑过渡效果](https://segmentfault.com/a/1190000010583130)*/
    transition: all 0.4s ease-out;
}

.movie-card > a {
    display: block;
    width: 170px;
    height: 256px;
    overflow: hidden;
    position: relative;
}

.movie-card .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-card .card-title {
    font-size: 18px;
    padding-top: 10px;
    font-weight: 400;
    text-align: center;
    /*设置文字只显示一行，多余显示省略号*/
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-card .icohot, .movie-card .iconew {
    background: url(../img/index24.png) -64px -103px no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

.movie-card .icohot {
    background-position: -113px -103px;
}

.movie-card:hover {
    transform: scale(1.08);
    transition: all 0.4s ease-out;
}

.moviegrade {
    background: #74ab34;
    width: 32px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 13px;
}

.movie-card .moviegrade {
    position: absolute;
    bottom: 0;
    right: 0;
}


/*
    以下与longReviewCard/longReviewList的宏有关
    所有的宏均定义在macros.html文件中
*/
.reviewList {
    border-top: 1px dotted #999;
}

.reviewList li {
    display: flex;
    padding: 30px 0 10px;
    position: relative;
}

.reviewList li .sign {
    flex-shrink: 0;
    background: #ff9600;
    width: 76px;
    height: 84px;
    padding: 6px 8px 0 0;
    font-size: 18px;
    line-height: 1.2em;
    color: #fff;
    text-align: right;
    margin-right: 20px;
}

.reviewList li .sign.not-hot {
    /* 选择同时具有class sign和empty的标签(中间没有空格) */
    background: none;
}

.reviewList li .matter {
    padding: 0 0 10px;
    border-bottom: 1px dotted #999;
}

.reviewList .flex {
    display: flex;
}

.reviewList li .matter .reviewContent {
    padding-right: 25px;
    border-right: 1px solid #ccc;
    width: 710px;
}

.reviewList li .matter .reviewContent .title {
    color: #333;
    font-size: 22px;
    line-height: 1.4em;
}

.reviewList li .matter .reviewContent .title a {
    text-decoration: none;
    color: #000;
}

.reviewList li .matter .reviewContent .content {
    width: 100%;
    margin: 0;
    color: #999;
    font-size: 14px;
    min-height: 80px;
}

.reviewList li .matter .user {
    display: flex;
    margin-left: 10px;
    font-size: 14px;
}

.reviewList li .matter .user a, .reviewList li .matter .user p {
    color: #08c;
    margin-bottom: 5px;
}

.reviewList li .matter .user .time {
    font-size: 12px;
}

.reviewList li .matter .user .userInfo {
    width: 120px;
}

.reviewList li .matter .user img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border: 1px solid #c4c4c4;
}

.reviewList li .matter .user a, .reviewList li .matter .user p {
    color: #08c;
    margin-bottom: 5px;
}

.reviewList li .matter .user .time {
    font-size: 12px;
}

.reviewList li .matter .tools i:hover {
    color: #2F96B4;
}

/*
    以下与ReviewHeader的宏（影评页面的header部分）有关
    所有的宏均定义在macros.html文件中
*/
.review-header {
    height: 300px;
    background-color: #0b2e13;
}

.review-header .movie-img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    overflow: hidden;
}

.review-header .movie-img::before {
    /* before伪元素，不懂，没有效果*/
    z-index: -1; /*-1 可以当背景*/
    -webkit-filter: blur(3px);
    filter: blur(20px);
}

.review-header .card-img-overlay {
    /* 给图片上方的文字div再加一层渐变遮罩，重要在于渐变，上层稍微黑一点，中间透明，下面再稍微黑一点 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.4) 100%);
}


/*
    以下是右侧固定侧边栏XtimeSideBar(点赞/点踩/收藏/留言/分享/返回顶部)菜单的css
    所有的宏均定义在macros.html文件中
 */
.newXtimebar {
    position: fixed;
    top: 50%;
    right: 10px;
    width: 3em;
    margin-top: -2.5em;
    z-index: 100;
}

.newXtimebar div {
    width: 100%;
}

.newXtimebar i {
    width: 100%;
    height: 32px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    color: #000;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    zoom: 1;
    opacity: .8;
}

.newXtimebar i:hover {
    color: #5cb85c;
}

.newXtimebar p {
    display: inline-block;
    text-align: center;
    padding: 5px 0 0;
    width: 100%;
    font-size: 14px;
    color: #8798af;
    letter-spacing: 0;
}

.newXtimebar .bi {
    color: #5c636a;
    font-size: 27px;
}

.newXtimebar .checked {
    color: #5cb85c;
}
