{% extends 'user/settings/base.html' %}

{% block title %}Xtime时光网：让电影遇见生活{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}

{% block setting_title %}基本信息{% endblock %}

{% block setting_content %}
<!-- 个人信息表单 -->
<form method="post">
    {{ form.csrf_token() }}
    <!-- 用户名 -->
    <div class="form-group row">
        <label for="username" class="col-4 col-form-label">用户名</label>
        <div class="col-8">
            <input id="username" name="username" placeholder="Username" class="form-control here" required="required"
                type="text" value="{{ current_user.username }}">
            <div class="error">
                {% for message in form.username.errors %}
                <small style="color: red;">{{ message }}</small>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- 姓名 -->
    <div class="form-group row">
        <label for="name" class="col-4 col-form-label">姓名</label>
        <div class="col-8">
            <input id="name" name="name" placeholder="name" class="form-control here" type="text"
                value="{{ current_user.name }}">
            <div class="error">
                {% for message in form.name.errors %}
                <small style="color: red;">{{ message }}</small>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- 邮箱 -->
    <div class="form-group row">
        <label for="email" class="col-4 col-form-label">邮箱</label>
        <div class="col-8">
            <input id="email" name="email" placeholder="email" class="form-control here" type="text"
                value="{{ current_user.email }}">
            <div class="error">
                {% for message in form.email.errors %}
                <small style="color: red;">{{ message }}</small>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- 电话 -->
    <div class="form-group row">
        <label for="phone" class="col-4 col-form-label">电话</label>
        <div class="col-8">
            <input id="phone" name="phone" placeholder="phone" class="form-control here" type="text"
                value="{{ current_user.phone }}">
            <div class="error">
                {% for message in form.phone.errors %}
                <small style="color: red;">{{ message }}</small>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- 个性签名signature -->
    <div class="form-group row">
        <label for="signature" class="col-4 col-form-label">个性签名</label>
        <div class="col-8">
            <input id="signature" name="signature" placeholder="个性签名哦" class="form-control here" type="text"
                value="{{ current_user.signature }}">
            <div class="error">
                {% for message in form.signature.errors %}
                <small style="color: red;">{{ message }}</small>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- 居住地址address(暂时没找到好的方法实现) -->
    <!-- 性别gender(3个input必须name相同) -->
    <div class="form-group row">
        <label for="gender" class="col-4 col-form-label">性别</label>
        <div class="col-8">
            <!-- 男 -->
            <!-- 关于error：Not a vaild choice
            后端表单中的choices必须包含表单提交时当前option（比如下面是"M"）的选项 -->
            <div class="form-check form-check-inline">
                {% if current_user.gender == 1 %}
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="M" checked>
                {% else %}
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="M">
                {% endif %}
                <label class="form-check-label" for="inlineRadio1">
                    男
                </label>
            </div>
            <!-- 女 -->
            <div class="form-check form-check-inline">
                {% if current_user.gender == 2 %}
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="F" checked>
                {% else %}
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="F">
                {% endif %}
                <label class="form-check-label" for="inlineRadio2">
                    女
                </label>
            </div>
            <!-- 其他 -->
            <div class="form-check form-check-inline">
                {% if current_user.gender == None %}
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="N" checked>
                {% else %}
                <input class="form-check-input" type="radio" name="gender" id="inlineRadio3" value="N">
                {% endif %}
                <label class="form-check-label" for="inlineRadio3">其他</label>
            </div>
            <div class="error">
                {% for message in form.gender.errors %}
                <small style="color: red;">{{ message }}</small>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- 出生日期birthday -->
    <div class="form-group row">
        <label for="date" class="col-4 col-form-label">出生日期</label>
        <div class="col-8">
            <input id="date" name="birthday" type="date" required class="form-control here" min="1900-01-01"
                max="2030-01-01" value="{{ current_user.birthday }}">
            <div class="error">
                {% for message in form.birthday.errors %}
                <small style="color: red;">{{ message }}</small>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- 个人介绍 -->
    <div class="form-group row">
        <label for="introduction" class="col-4 col-form-label">个人介绍</label>
        <div class="col-8">
            <textarea id="introduction" name="introduction" cols="40" rows="4" class="form-control" placeholder="自我介绍哦"
                style="resize: none;" maxlength="1000">{{ current_user.introduction }}</textarea>
            <span id='textarea-comment-tip'></span>
            <div class="error">
                {% for message in form.introduction.errors %}
                <small style="color: red;">{{ message }}</small>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- 保存/重置 -->
    <div class="form-group row">
        <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-success"><i class="bi bi-save"></i>Save</button>
            <button name="reset" type="reset" class="btn btn-secondary" style="margin-left: 50px;"><strong><i
                        class="bi bi-arrow-clockwise"></i></strong>Reset</button>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    // 限制textarea字数
    var checkStrLength = function (str, maxLength) {
        var maxLength = maxLength;
        var result = 0;
        if (str && str.length > maxLength) {
            result = maxLength;
        } else {
            result = str.length;
        }
        return result;
    };

    // 监听字数输入，允许输入1000个字符
    $('#introduction').on('input propertychange', function () {
        // 获取输入内容
        var userIntro = $(this).val();
        //判断字数
        var len;
        if (userIntro) {
            len = checkStrLength(userIntro, 1000);
        } else {
            len = 0;
        }
        // 显示字数
        $('#textarea-comment-tip').html('还能输入' + (1000 - len) + '个字符');
    });

    // // 页面渲染结束后立刻show flash提示信息
    // $(document).ready(function () {
    //     $('.toast').toast('show');
    // });
</script>
{% endblock %}