<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>登录Xtime</title>

    <meta name="description" content="The login Page of Xtime Website!">
    <meta name="author" content="Franktjp!">

    <link href="../static/bootstrap-4.6.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">

    <style>
        .error {
            float: left;
            position: relative;
            top: -21px;
            height: 0px;
        }
    </style>

</head>

<body>
    <!-- 参考：https://bootsnipp.com/snippets/vl4R7 -->

    <div class="container">
        <!-- 标题 -->
        <div class="title">
            <h1><a href="{{ url_for('main.index') }}">Xtime</a></h1>
        </div>
        <!-- flash提示信息 -->
        <!-- 注：alert的消失不受代码控制。可以考虑模拟弹框实现3s后淡出效果 -->
        <!-- 轻量弹框Toast实现3s后淡出效果：.toast要加在父盒子上，因为toast盒子会有默认高度和背景色，将其设置为透明即可 -->
        <div class="msg toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
            {% for message in get_flashed_messages(with_categories=True) %}
            <!-- <div class="alert alert-{{ message[0] }} alert-dismissible fade show toast hide" role="alert"
                aria-live="assertive" aria-atomic="true" data-delay="3000"> -->
            <div class="alert alert-{{ message[0] }} alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message[1] }}
            </div>
            {% endfor %}
        </div>

        <!-- login表单 -->
        <div class="d-flex justify-content-center h-100">
            <div class="card container">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <!-- 首页(点不动，为啥) -->
                        <a href="{{ url_for('main.index')}}"></a><span><i class="bi bi-house"></i>
                        </span></a>
                        <!-- 电影 -->
                        <span><i class="bi bi-film" style="font-size: 50px;"></i></span>
                        <!-- 刷新 -->
                        <span><i class="bi bi-arrow-clockwise"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {{ form.csrf_token() }}

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                            </div>
                            <input type="text" name="username" class="form-control" placeholder="用户名">
                        </div>
                        <div class="error">
                            {% for message in form.username.errors %}
                            <small style="color: red;">{{ message }}</small>
                            {% endfor %}
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
                            </div>
                            <input type="password" name="password" class="form-control" placeholder="密码">
                        </div>
                        <div class="error">
                            {% for message in form.password.errors %}
                            <small style="color: red;">{{ message }}</small>
                            {% endfor %}
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox" name="remember" id="remember"><label for="remember">记住密码</label>
                        </div>
                        <div class="form-group">
                            <input id="submit" type="submit" name="submit1" value="登录"
                                class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        没有账户？<a href="{{ url_for('auth.register') }}">注册</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">忘记密码？</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 引入jquery.slim.min.js和bootstrap.min.js -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="../../static/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>

    <script>
        // 报错$没有定义的问题是因为没有先引入jquery
        // $(document).ready(function () {
        //     $("#submit").click(function () {
        //         $('.toast').toast('show');
        //     });
        // });
        // 页面渲染结束后立刻show
        $(document).ready(function () {
            $('.toast').toast('show');
        });

    </script>
</body>

</html>