{% extends 'main/_movie.html' %}

{% block title %}{{ movie.name }}{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        h4 {
            display: inline-block
        }

        .movie-page .nav-list li.nav-list-item.movie-more {
            background-color: #2F96B4;
        }

    </style>
{% endblock %}

{% block movie_content %}
    <div class="container content">
        <div class="movieTitle">
            {{ movie.name }}
        </div>
        <div class="desc">
            <h4 class="col-md-6">中文名:</h4>
            {{ movie.name }}
        </div>
        <div class="desc">
            <h4 class="col-md-6">片长:</h4>
            {{ movie.mins }} 分钟
        </div>
        <div class="desc">
            <h4 class="col-md-6">上映日期:</h4>
            {{ movie.release_date }}
        </div>
        <div class="desc">
            <h4 class="col-md-6">评分:</h4>
            {{ movie.score }} 分
        </div>
        <div class="desc">
            <h4 class="col-md-6">标签:</h4>
            {% for tag in movie.tags[:-1] %}
                {{ tag.name }} -
            {% endfor %}
            {{ movie.tags[-1].name }}
        </div>
        <div class="desc"><h4 class="col-md-4">封面图</h4><img src="{{ movie.image }}"></div>
    </div>
{% endblock %}
