{% extends 'main/_movie.html' %}

{% block title %}{{ movie.name }}{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .movie-page .nav-list li.nav-list-item.movie-desc {
            background-color: #2F96B4;
        }

    </style>
{% endblock %}

{% block movie_content %}
    <div class="container content">
        <div class="movieTitle">
            {{ movie.name }}
        </div>
        <div class="desc">
            <h4>剧情</h4>
            <p>
                {% if movie.desc|length == 0 %}
                    剧情不存在！
                {% else %}
                    {{ movie.desc }}
                {% endif %}
            </p></div>

    </div>
{% endblock %}
