{% extends 'base.html' %}
{#{% from 'bootstrap/form.html' import render_form %}#}
{% from 'macros.html' import ReviewHeader, XtimeSideBar, CommentList, CommentFormCard %}

{% block title %}Xtime时光网：让电影遇见生活{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">

    <style>
        .header {
            height: 110px;
        }

        .card-inner {
            margin-left: 4em;
        }


    </style>
{% endblock %}

{% block content %}
    <!-- 影评页面header部分 -->
    {{ ReviewHeader(review, review.movie, review.user) }}

    <div class="container">
        <div class="col-md-9 left">
            <!-- 影评内容 -->
            <div class="content">
                {{ review.content|safe }}
            </div>

            <!-- 评论部分 -->
            <div class="comments">
                <!-- 评论标题 -->
                <div class="comments-title">
                    <h3>全部评论</h3>
                    <span>{{ review.comments|length }}</span>
                </div>
                <!-- 选择评论排序方式 -->
                <div class="choose-type">
                    <span class="active">最新</span>
                    <span>最热</span>
                </div>

                <!-- 评论表单 -->
                <!-- 参考：[bootstrap 4 - social network post and comment card with form](https://bootsnipp.com/snippets/rNEdR) -->
                <section class="comment-box card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
                                   aria-controls="posts" aria-selected="true">评论</a>
                            </li>
                        </ul>
                    </div>

                    <!-- 显示评论表单(4 rows) -->
                    {{ CommentFormCard(review.id, none, form, 4) }}
                </section>

                <!-- 评论block -->
                <div class="comments-block">
                    <!-- 评论列表 -->
{#                    {{ CommentList(review.comments, form) }}#}
                    {{ CommentList(comments, form) }}

                    <!-- 分页工具 -->
                    <div class="pagination-block"></div>
                </div>
                <!--  -->

            </div>

        </div>
        <!-- 该片热门影评 -->
        <div class="col-md-3 right">
            <div class="user"></div>
            <div class="hot"></div>
        </div>

        <!-- 点赞/点踩/收藏/留言/分享/返回顶部 -->
        {{ XtimeSideBar(review) }}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <!-- XtimeSideBar用到 -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/review.js/') }}"></script>
    <script>
        $(function () {
            // 隐藏所有评论下的form表单
            $('.commentList .comment .comment-form').hide();
            // 用户点击回复，显示该表单
            var $reply = $('.commentList .comment #reply');
            $reply.click(function (e) {
                $(this).parent().next().toggle(100);
            });
        });
    </script>
{% endblock %}


