{% extends 'base.html' %}
{#{% from 'bootstrap/form.html' import render_form %}#}
{% from 'macros.html' import ReviewHeader, XtimeSideBar %}

{% block title %}Xtime时光网：让电影遇见生活{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css') }}">

    <style>
        .header {
            height: 110px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- 影评页面header部分 -->
    {{ ReviewHeader(review, movie, user) }}

    <div class="container">
        <div class="col-md-9 left">
            <div class="content">
                {{ review.content|safe }}
            </div>

            <!-- 评论部分 -->
            <div class="comments"></div>

        </div>
        <!-- 该片热门影评 -->
        <div class="col-md-3 right">
            <div class="user"></div>
            <div class="hot"></div>
        </div>

        <!-- 点赞/点踩/收藏/留言/分享/返回顶部 -->
        {{ XtimeSideBar(review) }}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        {#window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";#}
        {#window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";#}

        {#$(function () {#}
        {#    // var $win = $(window);#}
        {#    var $backToTop = $('.back-to-top');#}
        {#    // 当用户点击按钮时，通过动画效果返回头部#}
        {#    $backToTop.click(function () {#}
        {#        $('html, body').animate({#}
        {#            scrollTop: 0#}
        {#        }, 400);#}
        {#    });#}
        {# });#}
        {##}
        {#// 点赞checked = True / 取消点赞checked = False#}
        {#function PariseReview(checked) {#}
        {#    var csrftoken = "{{ csrf_token() }}";#}
        {#    $.ajax({#}
        {#        url: '/review/{{ review.id }}/praise',#}
        {#        data: {#}
        {#            review_id: {{ review.id }},#}
        {#            checked: checked#}
        {#        },#}
        {#        type: 'POST',#}
        {#        // 解决POST方式导致的CSRF问题#}
        {#        beforeSend: function (xhr, settings) {#}
        {#            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {#}
        {#                xhr.setRequestHeader("X-CSRFToken", csrftoken)#}
        {#            }#}
        {#        },#}
        {#        success: function (res) {#}
        {#            var result = JSON.parse(res);#}
        {#            if (result.status == 'OK') {#}
        {#                if (checked === true) {#}
        {#                    toastr['success']('点赞成功~');#}
        {#                } else {#}
        {#                    toastr['success']('取消点赞成功~');#}
        {#                }#}
        {#                var $p_praise = $('.praise').find('p').first();#}
        {#                $p_praise.text(result.fav_nums);#}
        {#            } else {#}
        {#                alert(result.status);#}
        {#            }#}
        {#        },#}
        {#        error: function (error) {#}
        {#            console.log(error);#}
        {#        }#}
        {#    })#}
        {# };#}
        {##}
        {#$(function () {#}
        {#    var $praise = $('#praise');#}
        {#    $praise.click(function () {#}
        {#        if ($praise.hasClass('checked')) {#}
        {#            // 取消点赞#}
        {#            PariseReview(false)#}
        {#            $praise.removeClass('checked')#}
        {#            console.log('取消点赞')#}
        {##}
        {#        } else {#}
        {#            // 点赞#}
        {#            PariseReview(true)#}
        {#            $praise.addClass('checked')#}
        {#            console.log('点赞')#}
        {##}
        {#        }#}
        {#    });#}
        {# });#}
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/review.js') }}"></script>
{% endblock %}


